<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    
    <script src="~/assets/js/dataTables/dataTables.bootstrap.js"></script>
    <script src="~/assets/js/dataTables/jquery.dataTables.js"></script>
    <link href="~/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/css/logincss.css" rel="stylesheet" />
    <link href="~/assets/css/giris.css" rel="stylesheet" />
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/jquery-1.10.2.js"></script>
    <script src="~/assets/js/jquery.metisMenu.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Teknoloji Mağazası </a>
            </div>
            <div style="color: white;
padding: 15px 10px 2px 10px;
float: right;
font-size: 16px;"><a href="~/Login/cikis" class="btn btn-danger square-btn-adjust" >Çıkıs Yap</a></div>
            <div style="color: white;
padding: 15px 10px 2px 10px;
float: right;
font-size: 16px;"><a href="~/Login/kullaniciekle" class="btn btn-warning square-btn-adjust"  >Üye Ol</a></div>
            <div style="color: white;
padding: 15px 10px 2px 10px;
float: right;
font-size: 16px;"><a href="~/Login/giris" class="btn btn-info square-btn-adjust">Giris Yap</a></div>

    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="~/assets/img/find_user.png" />
                </li>


                <li>
                    @Html.ActionLink("Anasayfa", "Anasayfa", "Satıslar")
                </li>
                <li>
                    <a href="#"><i class=""></i> Ürünler<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("Ürün Ekle", "Ürünekle", "Satıslar")
                        </li>
                        <li>
                            @Html.ActionLink("Ürün Listele", "Ürünlistele", "Satıslar")
                        </li>
                        <li>
                            @Html.ActionLink("Ürün Arama", "Arama", "Satıslar")
                        </li>

                    </ul>
                </li>


                <li>
                    <a href="#"><i class=""></i> Satışlar<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="satısislemi.html">Satıs İşlemi</a>
                        </li>
                        <li>
                            <a href="satislistele.html">Satıs Listele</a>
                        </li>
                        <li>
                            <a href="#">Satıs Arama</a>
                        </li>

                    </ul>
                </li>
                <li>
                    @Html.ActionLink("Biz Kimiz", "Hakkında", "Bilgiler")
                </li>


                <li>
                    @Html.ActionLink("İletisim", "İletisim", "Bilgiler")
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">


        @RenderBody()

        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
    </div>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="~/assets/js/jquery.metisMenu.js"></script>
    <script src="~/assets/js/jquery-1.10.2.js"></script>



</body>
</html>
